*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/*header section*/
header{
  width: 100%;
  background-color: rgba(23,23,23,0.15);
  padding: 20px;
  position: absolute;
  top: 0;
}


header .container{
  display: flex;
  justify-content: space-between;
  width: 1800px;
  margin: auto;
}

header a {
  text-decoration: none;
  margin-right: 100px;
  font-size: var(--font-size-14);
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  font-family: tahoma;
}

/*header end*/

/*banner section*/
.banner-container{
  
 width: 100%;
 height: 100vh;
background-image: url(images/morty-smith-rick-sanchez-x3.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
display: flex;
align-items: center;

display: flex;
}

.banner-container .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/*banner end*/

/*left section*/

.left-section{
  width: 600px;
  align-self: flex-start;
}

.left-section h1{
  margin: 0;
  font-size: 60px;
  font-style: unset;
  font-weight: 600;
  color:white;
 
}
.left-section p{
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: black;
  margin-top: 20px;
  line-height: 28px;
}
.left-section button{
  color: var(--primary-color);
  background-color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
}

/*left end*/


/*right section*/

.right-section{
  width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 40px 0;
  box-shadow: 0 5px 6px rgba(0,0,0,0.26);
}

.right-section h4{
  font-size: 20px;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  color:grey;
}

.input-group{
  width: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  position:relative;
  top: 5px;
  
 
}

.input-group label{
  color:#c9c9c9;
  font-size:15px;
  top: 10px;
  position: absolute;
  transition: 0.5s ease-in-out;
 

}

.input-group input{
  border: none;
  padding: 7px;
  margin-top: 5px;
  outline: none;
  border-bottom: 1px solid #c9c9c98a;
  color: var(--primary-color);
  caret-color: black;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label{
  color: var(--primary-color);
  top: -10px;
  font-size: 12px;

}

.input-group input:focus ,
.input-group input:valid {
  border-color: var(--primary-color);


}

.submit-section{
  text-align: center;
}

.submit-button{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10ox 0;
  margin-top: 15px;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}
.submit-button:hover{
  box-shadow: 0 3px 6px silver;
}
/* Right end*/
/* Section Two*/

.section-two{
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
 
}

.card-container{
  width: 450px;
  border-radius: 15px;
  box-shadow: 10px 5px 26px rgb(20, 19, 19);
  overflow: hidden;
  text-align: center;
}
.card-container h1{
  color: rgb(136,136,136);
}

.image-container{
  width: 100%;
  height: 450px;
  overflow: hidden;

}
.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:0.5s ease-in-out;
}

.image-container img:hover{
  transform: scale(1.1) rotate(-5deg);

}

/*Section two end*/

footer{
  text-align: center;
  color: gray;
  padding: 50px;
}

footer span{
  color: var(--primary-color);
  font-weight: bold;
}
section{
  display: flex;
}



@media screen and (max-width:768px){

section{
  display: flex;
  flex-direction: column;

  
  
  
}
header{
  width: 100%;
  background-color: rgba(23,23,23,0.15);
  padding: 20px;
  position: absolute;
  top: 0;
  flex-direction: column;
}


header .container{
  display: flex;
  justify-content: space-between;
  width: 1800px;
  margin: auto;
  flex-direction: column;
}

header a {
  text-decoration: none;
  margin-right: 100px;
  font-size: var(--font-size-14);
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  font-family: tahoma;
  flex-direction: column;
  display: block;
flex-direction: column;
}

/*header end*/

/*banner section*/
.banner-container{
  
 width: 100%;
 height: 100vh;
background-image: url(D:\wallpapersden.com_k-rainbow_1080x2400.jpg);
background-repeat: no-repeat;
background-attachment: fixed;

display: flex;
align-items: center;
flex-direction: column;

display: flex;
}

.banner-container .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 00%;
  flex-direction: column;
}

/*banner end*/

/*left section*/

.left-section{
  width: 600px;
  align-self: flex-start;
  flex-direction: column;
}

.left-section h1{
  width: 50%;
  margin: 50;
  font-style:unset ;
  font-size: 50px;
  
  font-weight: 700;
  color:red;
  flex-direction: column;
  align-items: center;
 
}
.left-section p{
  width: 400px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: black;
  margin-top: 20px;
  line-height: 28px;
  flex-direction: column;
}
.left-section button{
  color: var(--primary-color);
  background-color: white;
  border: none;
  padding: 12px 50px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  flex-direction: column;
}

/*left end*/


/*right section*/

.right-section{
  width: 200px;
  background-color:white;
  border-radius: 15px;
  padding: 40px 0;
  box-shadow: 0 5px 6px rgba(0,0,0,0.26);
  flex-direction: column;
  overflow: hidden;
}

.right-section h4{
  font-size: 15px;
  width: 150px;
  margin: auto;
  margin-bottom: 30px;
  color:grey;
  flex-direction: column;
}

.input-group{
  width: 200px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2px;
  flex-direction: column;
  
 
}

.input-group label{
  color:#c9c9c9;
  font-size:15px;
  top: 5px;
  position: absolute;
  transition: 0.5s ease-in-out;
  flex-direction: column;
 

}

.input-group input{
  border: none;
  padding: 7px;
  margin-top: 5px;
  outline: none;
  border-bottom: 1px solid #c9c9c98a;
  color: var(--primary-color);
  caret-color: black;
  flex-direction: column;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label{
  color: var(--primary-color);
  top: -10px;
  font-size: 12px;
  flex-direction: column;

}

.input-group input:focus ,
.input-group input:valid {
  border-color: var(--primary-color);
  flex-direction: column;


}

.submit-section{
  text-align: center;
  flex-direction: column;
}

.submit-button{
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10ox 0;
  margin-top: 15px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  flex-direction: column;
}
.submit-button:hover{
  box-shadow: 0 3px 6px silver;
  flex-direction: column;
}
/* Right end*/
/* Section Two*/

.section-two{
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
  flex-direction: column;
 
}

.card-container{
  width: 300px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px 5px 26px rgb(20, 19, 19);
  overflow: hidden;
  text-align: center;
  flex-direction: column;
}
.card-container h1{
  background-color: rgb(255, 255, 255);
  color: rgb(136,136,136);
  flex-direction: column;
}

.image-container{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  overflow: hidden;
  flex-direction: column;

}
.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:0.5s ease-in-out;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.image-container img:hover{
  transform: scale(1.1) rotate(-5deg);
  flex-direction: column;

}

/*Section two end*/

footer{
  text-align: center;
  color: gray;
  padding: 50px;
  flex-direction: column;
}

footer span{
  color: var(--primary-color);
  font-weight: bold;
  flex-direction: column;
}
section{
  display: flex;
  flex-direction: column;
}



}
